body {
  background: #1a1c23;
  font-family: 'Segoe UI', 'Arial', sans-serif;
  color: #e0ffe9;
}
input, select, button {
  font-family: inherit;
}
::-webkit-scrollbar {
  width: 10px;
  background: #23223b;
}
::-webkit-scrollbar-thumb {
  background: #1affac66;
  border-radius: 8px;
}
